.login-wrapper {
  background-color: #f8f9fa;
}


.login-btn {
  background-color: #4f46e5;
  border: none;
}

.login-btn:hover {
  background-color: #4338ca;
}

.divider {
  text-align: center;
  position: relative;
  color: #999;
  font-size: 0.9rem;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 45%;
  height: 1px;
  background-color: #ddd;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.small-link {
  font-size: 0.875rem;
  text-decoration: none;
}

.small-link:hover {
  text-decoration: underline;
}

.login-right img {
  object-fit: cover;
}

.brand img {
  object-fit: contain; /* ĐẢM BẢO LOGO KHÔNG BỊ CẮT */
}

.login-left {
  background: linear-gradient(135deg, #f8f9fa, #eef1f5);
}

.login-card {
  max-width: 420px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.switch-link {
  color: #4f46e5;
  cursor: pointer;
  font-weight: 500;
}

.switch-link:hover {
  text-decoration: underline;
}
